# Citibike Project - Creating the SQL Database

Creating the SQL database from the dataframes in `03_normalizing_datasets.ipynb`

In [14]:
import pandas as pd

import mysql.connector

In [16]:
# Load the Parquet file into a Pandas DataFrame
path_to_ride_pq='/Users/sra/files/projects/citibike_project/combined/group1_combined/group1_pl_ridenorm.parquet'
ride_pd=pd.read_parquet(path_to_ride_pq)

In [17]:
# Establish a connection to the MySQL server
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='rootroot'
)

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Create a new database, 'citibike_project'
create_db_query = 'CREATE DATABASE citibike_project'
cursor.execute(create_db_query)

# Commit the changes and close the connection
conn.commit()
conn.close()

In [ ]:
# Establish a connection to the MySQL database
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='rootroot',
    database='citibike_project'
)

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Create the table in the MySQL database with the desired schema
create_table_query = '''
    CREATE TABLE IF NOT EXISTS rides (
        ride_id VARCHAR,
        rideable DATATYPE,
        ...
    )
'''
cursor.execute(create_table_query)

# Insert the data from the DataFrame into the MySQL table
df.to_sql('table_name', conn, if_exists='replace', index=False)

# Commit the changes and close the connection
conn.commit()
conn.close()

In [13]:
# MySQL connection details
host = 'localhost'
user = 'root'
password = 'rootroot'
database = 'citibike_project'
table = 'rides'

# Establish a connection to the MySQL server
cnx = mysql.connector.connect(host=host, user=user, password=password, database=database)

ProgrammingError: 1049 (42000): Unknown database 'citibike_project'

In [ ]:

# Create a cursor object to execute SQL queries
cursor = cnx.cursor()

# Create table query
create_table_query = f"CREATE TABLE {table} (Name VARCHAR(50), Age INT, City VARCHAR(50))"
cursor.execute(create_table_query)

# Insert data into the table
for _, row in df.iterrows():
    insert_query = f"INSERT INTO {table} (Name, Age, City) VALUES (%s, %s, %s)"
    values = (row['Name'], row['Age'], row['City'])
    cursor.execute(insert_query, values)

# Commit the changes and close the connection
cnx.commit()
cursor.close()
cnx.close()

print(f"Data has been inserted into table '{table}' in database '{database}'.")